/* Small (sm, от 576px) */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Medium (md, от 768px) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Large (lg, от 992px) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* Extra large (xl, от 1200px) */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Extra extra large (xxl, от 1400px) */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
